.completBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.iconComplet {
  width: 28px;
  height: 28px;
  transition: all 0.3s ease;
}

.iconComplet:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.disabledVisit {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: default;
  transition: background-color 0.3s;
  opacity: 0.5;
}

.disabledVisitimg {
  width: 28px;
  height: 28px;
  transition: all 0.3s ease;
}
