.modal-ticket {
  background-color: rgb(35, 35, 35);
  padding: 20px;
  border-radius: 8px;
  width: 620px;
  height: 630px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: modal 0.3s ease-in-out;
  justify-content: space-between;
  z-index: 10;
}

.ticketUser-select {
  padding: 5px;
  font-size: clamp(15px, 3vw, 1.5rem);
  width: 100%;
}
.ticketUser-container {
  width: 100%;
  height: 100%;
  border: 1px solid #1a1919;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
.ticketUser-title {
  display: flex;
  justify-content: center;
  font-size: clamp(1.5rem, 3vw, 2em);
  font-family: "Times New Roman", Times, serif;
  margin: 1rem;
}
.ticketUser-list {
  margin: 10px;
  display: flex;

  align-items: center;
}
.ticketUser-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  width: 100%;
}
.ticketUser-item-body {
  display: flex;
  gap: 1rem;
  font-size: clamp(1.4rem, 3vw, 1.2em);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(25, 25, 25);
  width: 100%;
  justify-content: space-between;
}
.ticketUser-item-body span {
  margin-right: 10px;
}
.ticketUser-summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(1.4rem, 3vw, 1.2em);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(25, 25, 25);
  margin: 1.5rem 3.5rem;
}
.ticketUser-final {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.ticketUser-date {
  font-size: clamp(1.3rem, 3vw, 1.3em);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0.5rem;
  color: rgb(25, 25, 25);
}
.ticketUser-title-final {
  font-size: clamp(1.4rem, 3vw, 1.3em);
  font-family: "Times New Roman", Times, serif;
  margin-top: 1rem;
}
@keyframes modal {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  45% {
    opacity: 1;
    transform: scale(1.05);
  }
  80% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.modal-ticket button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal-ticket button:first-of-type {
  background-color: #774caf;
  color: white;
}

.modal-ticket button:last-of-type {
  background-color: #4336f4;
  color: white;
}
.ticketUser-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(1rem, 3vw, 1.3em);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(238, 238, 238);
  gap: 2rem;
  height: 700px;
}
@media (max-width: 450px) {
  .ticketUser-item-body {
    align-items: center;
    margin: 10px;
    flex-direction: column;
  }
  .modal-ticket {
    max-height: 455px;
  }
}
@media (max-width: 750px) {
  .modal-ticket {
    width: 95%;
    overflow: hidden;
  }
  .ticketUser-select-container {
    width: 100%;
  }
}
