.btn-cart,
.navCartli,
.aNav {
  all: unset;
  box-sizing: border-box;
}

.cartNavContainer {
  cursor: pointer;
}

#dropdown {
  max-width: 220px;
  width: 100%;
  background-color: #13214e;
  position: relative;
}

/* DROPDOWN/SUBMENU ITEMS AND TOGGLES */
.navCartLink {
  cursor: default;
  justify-content: end;
}

.dropdown-toggle,
.nameCart {
  width: 100%;
}

:is(.nameCart):first-child {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
:is(.nameCart):last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-toggle.open > i {
  rotate: 180deg;
}

.dropdown {
  position: relative;
}

.menuCartNav {
  display: flex;
  flex-direction: column;
  background-color: #3f3f3f;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 76px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 160px;
  translate: -10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.btnCart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnCart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.menuCartNav.open {
  visibility: visible;
  opacity: 1;
  translate: -10px 12px;
}

.cartNav {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  transition: 0.25s ease;
}

.nameCartNav {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  top: 0;
  bottom: 0;
  left: 7.6rem;
  position: absolute;
}

.btn-cartNav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 1px;
  text-align: end;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
  margin: 0.2rem 0.2rem 0.2rem 1rem;
  margin-right: 0;
  margin-left: 0;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.iconCartNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

/* Efecto

/* Definir la animación de boing */
.btn-cartNav:hover .iconCartNavLogout {
  animation: boing 0.5s infinite alternate;
}

.btn-cartNav:hover {
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-cartNav:active {
  transform: scale(0.97);
  transition: transform 0.05s ease;
  opacity: 0.9;
}

.btn-cart.clicked {
  transform: scale(0.97);
  transition: transform 0.05s ease;
}

.btn-cart.clicked:active {
  transform: scale(1);
}

@media screen and (min-width: 600px) {
  .nameCartNav {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuCartNav {
    width: 360px;
    height: 620px;
    translate: -10px 0;
    overflow: hidden;
  }

  .menuCartNav.open {
    translate: -10px 16px;
  }

  .cartNav {
    width: 29px;
    height: 29px;
  }

  .btn-cartNav {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  .menuCartNav {
    right: 0.1rem;
    top: 4.5rem;
    height: 400px;
    width: 270px;
  }
  .nameCartNav {
    top: 13rem;
    left: 5.5rem;
  }
}
