/* From Uiverse.io by MuhammadHasann */
.card-init-info {
  --black: #18181b;
  --white: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.8rem;
  width: 100%;
  height: 500px;
  background-color: var(--black);
  border-radius: 15px;
}

.card-init-info::before {
  content: "";
  position: absolute;
  top: 7rem;
  right: 4rem;
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  border-radius: 9999px;
}

.card-init-info::after {
  content: "";
  position: absolute;
  top: 7.75rem;
  right: 1.1rem;
  width: 3rem;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  border-radius: 9999px;
}

.card-init-info .card-init-carousel {
  position: absolute;
  left: 0;

  animation: carousel 15s infinite var(--carousel_direction, normal) linear;
}

.card-init-info .card-init-carousel[data-direction="right"] {
  --carousel_direction: reverse;
}
.card-init-info .card-init-carousel[data-position="top"] {
  top: 0.75rem;
}
.card-init-info .card-init-carousel[data-position="bottom"] {
  bottom: 0.75rem;
}

.card-init-info .card-init-carousel .card-init-carousel__text {
  font-size: clamp(1.7rem, 1.5vw, 2.5rem);
  color: #b5b5b5;
  text-wrap: nowrap;
}

@keyframes carousel {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-10%);
  }
}

.card-init-info .crad-init-image {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  aspect-ratio: 1 / 1;
  border-radius: 0.25rem;
}

.card-init-info .crad-init-image img {
  fill: white;
  position: absolute;
  top: 14.15rem;
  right: -1.5rem;
  width: 4rem;
}

.card-init-info .crad-init-image .card-init-logo {
  content: "";
  position: absolute;
  top: 17.5rem;
  right: -2.5rem;
  width: 1.5rem;
}

.card-init-info .card-init-title {
  position: relative;
  z-index: 1;
  font-size: clamp(2.3rem, 3.5vw, 3.5rem);
  color: #ffffff;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.card-init-info .card-init-paragraph {
  position: relative;
  z-index: 1;
  padding-right: 0.25rem;
  font-size: clamp(1.2rem, 1.5vw, 1.7rem);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #aaaaaa;
}
@media (max-width: 750px) {
  .card-init-info .crad-init-image img {
    top: 20.15rem;
    right: -1.5rem;
  }

  .card-init-info .crad-init-image .card-init-logo {
    top: 23.5rem;
    right: -2.5rem;
  }
}
@media (max-width: 450px) {
  .card-init-info {
    padding: 1.7rem;
  }
  .card-init-info::before {
    top: 4.8rem;
    right: 3rem;
  }

  .card-init-info::after {
    top: 5.75rem;
    right: 0.2rem;
  }
  .card-init-info .crad-init-image img {
    top: 23.15rem;
    right: -1.5rem;
  }

  .card-init-info .crad-init-image .card-init-logo {
    top: 25.8rem;
    right: -2.5rem;
  }
}
