.master-container {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  margin: 5rem 30rem;
}

.checkout-card {
  width: 100%;
  background: #ffffff;
  box-shadow:
    0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05),
    0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  font-size: clamp(1rem, 3vw, 1.2em);
  padding: 5px;
  border: 1px solid #aab7c4;
}

.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-weight: 700;
  font-size: clamp(1rem, 3vw, 1.5em);
  color: #63656b;
  justify-content: space-between;
}

.ckeckout-back {
  text-decoration: none;
  margin-right: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}
.ckeckout-back:hover {
  scale: 1.1;
  color: #0550ed;
}

/* cart */
.checkout-cart {
  border-radius: 19px 19px 7px 7px;
}

.checkout-cart .checkout-products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.checkout-cart .checkout-products .checkout-product {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.checkout-cart .checkout-products .checkout-product ol {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin-bottom: 8px;
  display: block;
}

.checkout-cart .checkout-products .checkout-product .checkout-product-card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 1px solid #242424;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.checkout-title {
  width: 250px;
  font-size: clamp(1rem, 3vw, 1.5em);
}
.checkout-product .checkout-product-card p {
  font-size: clamp(1rem, 3vw, 1.4em);
  font-weight: 600;
  color: #7a7c81;
  width: 250px;
  display: flex;
  align-items: center;
}

.checkout-cart .quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}

.checkout-cart .quantity label {
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: clamp(1rem, 3vw, 1.3em);
  font-weight: 700;
  color: #47484b;
}

.checkout-cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}

.checkout-card .small {
  font-size: 15px;
  margin: 0 0 auto auto;
}

.checkout-card .small sup {
  font-size: clamp(1rem, 3vw, 1.2em);
}

/* coupons */
.coupons {
  border-radius: 7px;
}

.coupons .checkout-form {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 20px;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  font-size: 20px;
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.coupons div button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #4480ff 0%, #115dfc 50%, #0550ed 100%);
  box-shadow:
    0px 0.5px 0.5px #efefef,
    0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 3vw, 1em);
  line-height: 15px;
  color: #ffffff;
}

/* Checkout */
.checkout {
  border-radius: 9px 9px 19px 19px;
}

.checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  gap: 5px;
}

.checkout .details span {
  font-size: 13px;
  font-weight: 600;
}

.checkout .details span:nth-child(odd) {
  font-size: clamp(1rem, 3vw, 1.1em);
  font-weight: 700;
  color: #707175;
  margin: auto auto auto 0;
}

.checkout .details span:nth-child(even) {
  font-size: clamp(1rem, 3vw, 1.3em);
  font-weight: 600;
  color: #47484b;
  margin: auto 0 auto auto;
}

.checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: #efeff3;
}

.chackout-price {
  position: relative;
  font-size: clamp(1rem, 3vw, 1.7em);
  color: #2b2b2f;
  font-weight: 900;
}

.chackout-price sup {
  font-size: clamp(1rem, 3vw, 0.5em);
}

.chackout-price sub {
  width: fit-content;
  position: absolute;
  font-size: clamp(1rem, 3vw, 1.3em);
  color: #5f5d6b;
  bottom: 5px;
  display: inline-block;
}

.checkout .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: linear-gradient(180deg, #4480ff 0%, #115dfc 50%, #0550ed 100%);
  box-shadow:
    0px 0.5px 0.5px #efefef,
    0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 1.3em);
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}
