#customerCreateModal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Nombre Direccion"
    "Apellidos Numero"
    "Email Ciudad"
    "Telefono CP"
    "Empresa pais"
    "NIF activo";
  column-gap: 15px;
}

#inputNameCustomerCreateContainer {
  grid-area: Nombre;
}

#inputLastNameCustomerCreateContainer {
  grid-area: Apellidos;
}

#inputEmailCustomerCreateContainer {
  grid-area: Email;
}

#inputPhoneCustomerCreateContainer {
  grid-area: Telefono;
}

#inputAddressCustomerCreateContainer {
  grid-area: Direccion;
}

#inputNumberCustomerCreateContainer {
  grid-area: Numero;
}

#inputCityCustomerCreateContainer {
  grid-area: Ciudad;
}

#inputZipCodeCustomerCreateContainer {
  grid-area: CP;
}

#inputCountryCustomerCreateContainer {
  grid-area: pais;
}

#inputNIFCustomerCreateContainer {
  grid-area: NIF;
}

#inputCompanyCustomerCreateContainer {
  grid-area: Empresa;
}

#inputLastNameCustomerCreateContainer,
#inputPhoneCustomerCreateContainer,
#inputNumberCustomerCreateContainer,
#inputCityCustomerCreateContainer,
#inputZipCodeCustomerCreateContainer,
#inputCountryCustomerCreateContainer,
#inputEmailCustomerCreateContainer,
#inputNIFCustomerCreateContainer,
#inputCompanyCustomerCreateContainer {
  margin: 10px 10px;
}

#inputNameCustomerCreateContainer,
#inputAddressCustomerCreateContainer {
  margin: 16px 10px;
}

/* Container de los botones */
#createCustomerBtnCloseModal {
  margin-right: 150px;
}
#createCustomerAcceptBtn {
  margin-left: 150px;
}

@media screen and (max-width: 750px) {
  #customerCreateModal {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Nombre"
      "Apellidos"
      "Email"
      "Telefono"
      "Direccion"
      "Numero"
      "Ciudad"
      "CP"
      "pais"
      "NIF"
      "Empresa"
      "activo";
  }

  #createCustomerBtnCloseModal {
    margin-right: 0;
  }
  #createCustomerAcceptBtn {
    margin-left: 0;
  }
}
