.container-eye {
  --color: #000000;
  --size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 66%;
  transform: translateY(-50%);
  opacity: 0.7;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container-eye:active .eye,
.container-eye:active .eye-slash {
  transform: scale(1.1);
}

.container-eye .eye,
.container-eye .eye-slash {
  width: var(--size);
  height: var(--size);
}
