.profile-input-container {
  position: relative;
}
.profile-input-container .profile-eye {
  --color: #000000;
  --size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 40%;
  transform: translateY(-50%);
  opacity: 0.7;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}
.profile-eye :active .eye,
.profile-eye :active .eye-slash {
  transform: scale(1.1);
}

.profile-eye .eye,
.profile-eye .eye-slash {
  width: var(--size);
  height: var(--size);
}
