.orderTable {
  width: 120rem;
  max-width: 1800px;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.orderTableHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: start;
  column-gap: 10px;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.orderTableBody {
  display: flex;
  flex-direction: column;
}

.orderTableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  column-gap: 10px;
  font-size: 1.1rem;
  height: 45px;
  border-bottom: 1px solid #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.orderTableBodyRow:hover {
  background-color: rgba(1, 1, 1, 0.2);
}

/* Puedes ajustar los estilos adicionales según sea necesario */

.orderTableHeadRowRef,
.orderTableBodyRowRef {
  width: 200px;
}

.orderTableHeadRowName,
.orderTableBodyRowName {
  width: 250px;
}

.orderTableHeadRowName {
  padding-left: 100px;
}

.orderTableHeadRowEmail,
.orderTableBodyRowEmail {
  width: 270px;
}

.orderTableHeadRowEmail {
  padding-left: 80px;
}

.orderTableHeadRowProduct,
.orderTableBodyRowProduct {
  width: 200px;
}

.orderTableHeadRowProduct {
  padding-left: 63px;
}

.orderTableHeadRowPrice,
.orderTableBodyRowPrice {
  width: 200px;
}

.orderTableHeadRowPrice {
  padding-left: 49px;
}

.orderTableHeadRowCuantity,
.orderTableBodyRowCuantity {
  width: 200px;
}

.orderTableHeadRowCuantity {
  padding-left: 10px;
}

.orderTableHeadRowDiscount,
.orderTableBodyRowDiscount {
  width: 200px;
}

.orderTableBodyRowDiscount {
  padding-left: 10px;
}

.orderTableHeadRowStatus,
.orderTableBodyRowStatus {
  width: 200px;
}

.orderTableHeadRowStatus {
  padding-left: 21px;
}

.orderTableHeadRowCreate,
.orderTableBodyRowCreate {
  width: 200px;
}

.orderTableHeadRowCreate {
  padding-left: 15px;
}

.orderTableBodyRowStatus {
  font-weight: 600;
}

.orderTableHeadRowActions,
.orderTableBodyRowActions {
  width: 110px;
}

.orderTableHeadRowActions {
  padding-left: 5px;
}

.orderTableBodyRowActions {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
