.header {
  display: flex;
  background: #3f3f3f;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 9;
}
.header .logo {
  display: flex;
  align-items: center;
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  margin-left: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navList {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  list-style: none;
  cursor: pointer;
  gap: 2.5rem;
}

.navList li .link,
.link-offer {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(13px, 4vw, 1rem);
  font-weight: 900;
  transition: 0.6s;
}

.link-offer img {
  margin-top: 3px;
}
.navList li a:hover {
  transition: 0.6s;
  transform-box: border-box;
  text-shadow:
    0 0 20px #ffffff,
    0 0 40px #02c2fda9;
}
.openMenu,
.closeMenu {
  display: none;
  visibility: hidden;
  color: aliceblue;
}
.mode {
  color: aliceblue;
  cursor: pointer;
  transition: 1s;
}

.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.menu {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.menuScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@media (max-width: 1026px) {
  .openMenu,
  .closeMenu {
    display: block;
    visibility: visible;
  }
  .hamburger svg {
    display: block;
    margin-right: 2px;
  }

  .menu {
    display: flex;
  }

  .menuScreen {
    display: none;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    position: absolute;
    top: 93px;
    right: 0;
    background-color: #3f3f3f;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 170px;
    margin-right: 10px;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .navList {
    align-items: end;
    flex-direction: column;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .hamburger {
    width: 45%;
  }
  .nav {
    right: 1rem;
    top: 84px;
  }
  .navList {
    margin-right: 0;
  }
  .menuProfileNav {
    right: 1rem;
    top: 74px;
    gap: 10px;
  }
}
