.addProductBtn,
.addOfferBtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.addProductBtn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.iconOffer {
  width: 27px;
  height: 27px;
  margin-bottom: 5px;
}

@keyframes modal-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  45% {
    opacity: 1;
    transform: scale(1.05);
  }
  80% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;

    transform: scale(0.4);
  }
}
