.ticketTable {
  width: 120rem;
  max-width: 1800px;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.ticketTableHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: start;
  column-gap: 10px;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.ticketTableBody {
  display: flex;
  flex-direction: column;
}

.ticketTableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  column-gap: 10px;
  font-size: 1.1rem;
  height: 45px;
  border-bottom: 1px solid #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ticketTableBodyRow:hover {
  background-color: rgba(1, 1, 1, 0.2);
}

/* Puedes ajustar los estilos adicionales según sea necesario */

.ticketTableHeadRowRef,
.ticketTableBodyRowRef {
  width: 200px;
}

.ticketTableHeadRowName,
.ticketTableBodyRowName {
  width: 210px;
}

.ticketTableHeadRowName {
  padding-left: 105px;
}

.ticketTableHeadRowProduct,
.ticketTableBodyRowProduct {
  width: 200px;
}

.ticketTableHeadRowProduct {
  padding-left: 86px;
}

.ticketTableHeadRowPrice,
.ticketTableBodyRowPrice {
  width: 200px;
}

.ticketTableHeadRowPrice {
  padding-left: 72px;
}

.ticketTableHeadRowCuantity,
.ticketTableBodyRowCuantity {
  width: 200px;
}

.ticketTableHeadRowCuantity {
  padding-left: 30px;
}

.TicketTableHeadRowTotalPrice,
.ticketTableBodyRowTotalPrice {
  width: 200px;
}

.TicketTableHeadRowTotalPrice {
  padding-left: 40px;
}

.ticketTableHeadRowStatus,
.ticketTableBodyRowStatus {
  width: 200px;
}

.ticketTableHeadRowStatus {
  padding-left: 30px;
}

.ticketTableHeadRowCreate,
.ticketTableBodyRowCreate {
  width: 200px;
}

.ticketTableHeadRowCreate {
  padding-left: 15px;
}

.ticketTableHeadRowActions,
.ticketTableBodyRowActions {
  width: 150px;
}

.ticketTableHeadRowActions {
  padding-left: 5px;
}

.ticketTableBodyRowActions {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
