.shipmentTable {
  width: 110rem;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.shipmentTableHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: start;
  column-gap: 10px;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.shipmentTableBody {
  display: flex;
  flex-direction: column;
}

.shipmentTableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  column-gap: 10px;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 45px;
  border-bottom: 1px solid #eee;
}

.shipmentTableBodyRow:hover {
  background-color: rgba(1, 1, 1, 0.2);
}

/* Puedes ajustar los estilos adicionales según sea necesario */

.shipmentTableHeadRowRef,
.shipmentTableBodyRowRef {
  width: 150px;
}

.shipmentTableHeadRowName,
.shipmentTableBodyRowName {
  width: 200px;
}

.shipmentTableHeadRowName {
  padding-left: 0;
}

.shipmentTableHeadRowLastName,
.shipmentTableBodyRowLastName {
  width: 200px;
}

.shipmentTableHeadRowLastName {
  padding-left: 0;
}

.shipmentTableHeadRowEmail,
.shipmentTableBodyRowEmail {
  width: 210px;
}

.shipmentTableHeadRowEmail {
  padding-left: 0;
}

.shipmentTableHeadRowProduct,
.shipmentTableBodyRowProduct {
  width: 200px;
}

.shipmentTableHeadRowProduct {
  padding-left: 0;
}

.shipmentTableHeadRowCuantity,
.shipmentTableBodyRowCuantity {
  width: 200px;
}

.shipmentTableBodyRowCuantity {
  padding-left: 30px;
}

.shipmentTableHeadRowStatus,
.shipmentTableBodyRowStatus {
  width: 200px;
}

.shipmentTableHeadRowStatus {
  padding-left: 0;
}

.shipmentTableHeadRowActions,
.shipmentTableBodyRowActions {
  width: 150px;
}

.shipmentTableHeadRowActions {
  padding-left: 8px;
}

.shipmentTableBodyRowActions {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
