#product_list {
  width: 100%x;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.refTitle {
  font-size: clamp(1.4rem, 3vw, 1.2rem);
}
.mainProductInsideSub {
  font-size: clamp(1.3rem, 3vw, 1.2rem);
  color: #555555;
  margin: 5px 0;
}
.productP {
  font-size: 1rem;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

@media screen and (max-width: 645px) {
  #product_list {
    width: 320px;
  }
}
