#btnProductCreate {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#btnProductUpdate {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#product_table {
  max-width: 100%;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin-left: 1.5rem;
}

#productTableHead {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}

#productTableBody {
  display: flex;
  flex-direction: column;
}

.productTableBodyRow:hover {
  background-color: #eee;
}

#prductTableHead .headRow,
.productTableBodyRow .bodyRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: start;
}

.productTableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  font-size: 1.1rem;
  border-bottom: 1px solid #eee;
}

.productTableBodyRow:last-child {
  border-bottom: none;
}

#productTableHead .headRow,
.prductTablebodyRow .bodyRow {
  flex: 8;
  text-align: center;
}

#productTableHeadRowRef,
.productTableBodyRef {
  width: 250px;
}

.productTableBodyRef {
  padding-left: 2px;
}

#productTableHeadRowName,
.productTableBodyName {
  width: 250px;
}

#productTableHeadRowPrice,
.productTableBodyPrice {
  width: 200px;
}

#productTableHeadRowStock,
.productTableBodyStock {
  width: 200px;
}

#productTableHeadRowStatus,
.productTableBodyStatus {
  width: 200px;
}

.productTableBodyStatus {
  font-weight: 600;
}

.productTableBodyActions,
#productTableHeadRowActions {
  width: 200px;
}

#productTableHeadRowActions {
  padding-left: 7px;
}
.productTableBodyActions {
  display: flex;
  gap: 10px;
}

.insertImg {
  background: transparent;
  border-style: none;
  cursor: pointer;
  width: 28px;
  margin-top: 5px;
}

.insertImg:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
