.img-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5rem;
  left: 59.1rem;
  right: 0;
  bottom: 0;
  width: 2.5rem;
}

.img-figure .img-one,
.img-two,
.img-tree {
  width: 20rem;
  height: 20rem;
  margin: 13px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.4);
}

.btn-selectProduct {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-selectProduct:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.img-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 850px) {
  .img-figure {
    left: 22.3rem;
  }
  .img-figure .img-one,
  .img-two,
  .img-tree {
    width: 11.9rem;
    height: 12rem;
  }
}
@media screen and (max-width: 450px) {
  .img-figure {
    left: 12rem;
    flex-direction: column;
  }
  .img-figure .img-one,
  .img-two,
  .img-tree {
    width: 15.9rem;
    height: 11rem;
  }
}
