.productTable-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
#btnProductCreate {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#btnProductUpdate {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#product_table {
  max-width: 950px;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#productTableHead {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}

#productTableBody {
  display: flex;
  flex-direction: column;
}

.productTableBodyRow:hover {
  background-color: #eee;
}

#prductTableHead .headRow,
.productTableBodyRow .bodyRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: start;
}

.productTableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  font-size: 1.1rem;
  border-bottom: 1px solid #eee;
}

.productTableBodyRow:last-child {
  border-bottom: none;
}

#productTableHead .headRow,
.prductTablebodyRow .bodyRow {
  flex: 8;
  text-align: center;
}

#productTableHeadRowRef,
.productTableBodyRef {
  width: 150px;
}

.productTableBodyRef {
  padding-left: 5px;
}

#productTableHeadRowName,
.productTableBodyName {
  width: 160px;
}

#productTableHeadRowPrice,
.productTableBodyPrice {
  width: 100px;
}

#productTableHeadRowStock,
.productTableBodyStock {
  width: 80px;
}

#productTableHeadRowStatus,
.productTableBodyStatus {
  width: 80px;
}

.productTableBodyStatus {
  font-weight: 600;
}

.productTableBodyActions,
#productTableHeadRowActions {
  width: 200px;
}

#productTableHeadRowActions {
  padding-left: 10px;
}
.productTableBodyActions {
  display: flex;
  gap: 10px;
}
.product-container-img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50rem;
  right: 0;
  bottom: 0;
}

.product-container-img #product-logo-Table {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10rem;
  left: 63.1rem;
  right: 0;
  bottom: 0;
  width: 50rem;
  background-color: rgb(177, 175, 175);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  visibility: visible;
}
