.product-logo {
  position: fixed;
  top: 57%;
  left: 50%;
  width: 40rem;
  height: 40rem;
  padding: 10px 15px;
  visibility: visible;
  transform: translate(15%, -48%);
}

.hidden {
  display: none;
  visibility: hidden;
  position: relative;
}
