.paymentTable {
  width: 120rem;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.paymentTableHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: start;
  column-gap: 10px;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.paymentTableBody {
  display: flex;
  flex-direction: column;
}

.paymentTableBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  column-gap: 10px;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 45px;
  border-bottom: 1px solid #eee;
}

.paymentTableBodyRow:hover {
  background-color: rgba(1, 1, 1, 0.2);
}

/* Puedes ajustar los estilos adicionales según sea necesario */

.paymentTableHeadRowRef,
.paymentTableBodyRowRef {
  width: 200px;
}

.paymentTableHeadRowName,
.paymentTableBodyRowName {
  width: 250px;
}

.paymentTableHeadRowName {
  padding-left: 70px;
}

.paymentTableHeadRowProduct,
.paymentTableBodyRowProduct {
  width: 200px;
}

.paymentTableHeadRowProduct {
  padding-left: 53px;
}

.paymentTableHeadRowCuantity,
.paymentTableBodyRowCuantity {
  width: 150px;
}

.paymentTableHeadRowCuantity {
  padding-left: 29px;
}

.paymentTableBodyRowCuantity {
  padding-left: 15px;
}

.paymentTableHeadRowPrice,
.paymentTableBodyRowPrice {
  width: 150px;
}

.paymentTableHeadRowPrice {
  padding-left: 37px;
}

.paymentTableHeadRowPayment,
.paymentTableBodyRowPayment {
  width: 150px;
}

.paymentTableHeadRowPayment {
  padding-left: 30px;
}

.paymentTableHeadRowIva,
.paymentTableBodyRowIva {
  width: 150px;
}

.paymentTableHeadRowIva {
  padding-left: 31px;
}

.paymentTableBodyRowIva {
  padding-right: 30px;
}

.paymentTableHeadRowTotal,
.paymentTableBodyRowTotal {
  width: 150px;
}

.paymentTableHeadRowTotal {
  padding-left: 16px;
}

.paymentTableHeadRowMethod,
.paymentTableBodyRowMethod {
  width: 150px;
}

.paymentTableHeadRowMethod {
  padding-left: 1px;
}

.paymentTableHeadRowStatus,
.paymentTableBodyRowStatus {
  width: 200px;
}

.paymentTableHeadRowStatus {
  padding-left: 6px;
}

.paymentTableBodyRowStatus {
  font-weight: 600;
}

.paymentTableHeadRowCreate,
.paymentTableBodyRowCreate {
  width: 200px;
}

.paymentTableHeadRowCreate {
  padding-left: 24px;
}

.paymentTableBodyRowCreate {
  padding-left: 17px;
}

.paymentTableHeadRowUpdate,
.paymentTableBodyRowUpdate {
  width: 200px;
}

.paymentTableHeadRowUpdate {
  padding-left: 18px;
}

.paymentTableBodyRowUpdate {
  padding-left: 17px;
}

.paymentTableHeadRowActions,
.paymentTableBodyRowActions {
  width: 150px;
}

.paymentTableHeadRowActions {
  padding-left: 45px;
}

.paymentTableBodyRowActions {
  display: flex;
  align-items: center;
  gap: 0;
  padding-left: 30px;
}
